.NavBarGolb{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 2px  solid red;
    background-color: tomato;
}

nav{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
a{
    margin:2%;
    color :white;
}